.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5% 0px;
  border: 1px black solid;
}
  // div {
    // border: 1px solid black;
    // background-color: tan;
    // width: 17%;
    // margin: 3% 0px;
    // height: 275px;